div#deleteModal.delete-modal.modal.hide.fade(tabindex="-1", role="dialog", aria-hidden="true")
    div.modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
        h4.deleteModalLabel Delete post
    div.modal-body
        p Are you sure you want to delete this post?
    div.modal-footer
        button.btn(data-dismiss="modal", aria-hidden="true") Close
        button.btn.btn-primary.btn-del-post(data-dismiss='modal', data-id='') Delete
